body {
    text-align: center;
}
h1 {
    background-color: rgb(38, 211, 38);
    border-radius: 10px;
    padding: 10px;
}
.geral {
    width: 60%;
    margin: 0 auto;
}
.apresentacao {
    width: 90%;
    text-align: left;
    padding: 10px;
}
.img{
    width: 30%;
    border-radius: 30px;

}
.logo {
    width: 230px;
    border-radius: 50%;
    float: left;
}
.dados {

    width: 60%; 
    float: left;
    padding-top: 50px;
    padding-left: 50px;
}
a{
    color: inherit; 
    text-decoration:none
}
.titulo {
    width: 30%;
    float: left;
}
.linha {
    width: 70%;

}

